repos:
      - repo: https://github.com/astral-sh/ruff-pre-commit
        # Ruff version.
        rev: v0.0.291
        hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]

      - repo: https://github.com/ambv/black
        rev: 23.9.1
        hooks:
          - id: black
            language_version: python3.11

      - repo: https://github.com/python-poetry/poetry
        rev: "1.6.1"
        hooks:
          - id: poetry-check # check validity of pyproject.toml
          - id: poetry-lock # make sure lock file is up-to-date
